%h1.title Create new User

= form_tag users_path, :method => :post do

  = label :user, :username, 'Username'
  = text_field :user, :username

  %p
  = submit_tag 'Save Changes'

%p
= link_to 'Back to user list', users_path
